body
{
    background-color: #9fb6af;
}

.navbar-brand
{
    margin-right: 0;
    padding: 0 1rem;
}

.navbar-nav li
{
    margin-top: 6%;
}

.navbar .navbar-nav .navbar-link 
{
    font-size: 1.1em;
    padding: 0 1rem;
    color: white;
}

.intro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5%;
    height: 30vh;

}

.frase h1
{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    color: aliceblue;
}

.imagem1
{
    background-image: url("../style/images/FotoGabi1.png") no-repeat center center fixed;
    background-size: cover;
}